.scrolldown {
    --color: #5C9993;
    --sizeX: 24px;
    --sizeY: 40px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    transform: scale(clamp(1, 0.05vw, 1.5));
    transform-origin: center;
  }
  
  .dark .scrolldown {
    --color: #599692;
  }
  
  .scrolldown::before {
    content: '';
    position: absolute;
    bottom: 24px;
    left: 50%;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px hsla(var(--foreground), 0.2);
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 5px;
    }
    40% {
      opacity: 1;
      height: 8px;
    }
    80% {
      transform: translate(0, 15px);
      height: 8px;
      opacity: 0;
    }
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 38px;
    width: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }

  /* Respect user preference for reduced motion */
  @media (prefers-reduced-motion: reduce) {
    .scrolldown::before,
    .chevrondown {
      animation: none !important;
      transition: none !important;
    }
  }
  